*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellowgreen; */
}

.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color:antiquewhite;
}
nav{
    display: flex;
    /* background-color: aqua; */
    justify-content:space-between;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display:flex;
    gap: 32px;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}
nav .btn:hover{
    background-color: #2c6945;
}
