*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellowgreen; */
}

.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav{
    max-width: 100%;
    display: flex;
    background-color:antiquewhite;
    justify-content:space-between;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display:flex;
    gap: 32px;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    line-height: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
nav .btn:hover{
    background-color: #2c6945;
}
#banner{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
}
#banner .banner-body{
    position: absolute;
    /* border: 1px solid green; */
    text-align: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* background-color: aqua; */
}
.banner-highlight{
    text-align: center;
    background-color: #ffffff;
    max-width: 229px;
    margin: 0 auto;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 16px;
    line-height: 100%;
    margin-bottom: 16px;
}

.banner-heading, .color-green{
    /* max-width: 415px; */
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
}
.color-green{
    color:#30B868;
}
.banner-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-bottom{
    display: flex;
    justify-content: center;
    gap: 16px;
   
    border-radius: 4px;
}
.banner-bottom a{
    color: #ffffff;
     border-radius: 4px;
     padding: 12px 16px;
     text-decoration: none;
     font-size: 16px;
     font-weight: 600;
     line-height: 100%;
     background: #30B868; 
     margin-bottom: 180px; 
}
.banner-bottom-text a{
    background:none;
    border: 1px solid #ffffff;
}

#note{}

#notes{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.note-heading{
    text-align: center;
    margin-bottom: 44px;
}
.note-heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    padding-top: 30px;
    color: #001913;
;
}
.note-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;

}
.typs-of-note{
    display: flex;
    gap: 16px;
}
.note-card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000020;
    padding: 24px;
    text-align: center;

}
.note-card img{
    background-color:#F95555;
    margin-bottom: 16px;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 16px; 
}
.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 22px;
}
