*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellowgreen; */
}

.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav .btn a, #banner .btn a, #join .btn a {
    text-decoration: none;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    line-height: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
nav .btn a:hover, #banner .btn a:hover, #join .btn a:hover {
    background-color: #2c6945;
}

#brain .section-heading,#notes .section-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 50px;
    color: #001913;
}

.Section-Para{
    background-color:yellowgreen;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

/* individual style */

nav{
    display: flex;
    background-color:antiquewhite;
    justify-content:space-between;
    padding: 16px 120px;
    align-items: center;
}

nav ul{
    display:flex;
    gap: 32px;
    list-style-type: none;  
}

#banner{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
}
#banner .banner-body{
    position: absolute;
    /* border: 1px solid green; */
    text-align: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 180px; 
    /* background-color: aqua; */
}
.banner-highlight{
    text-align: center;
    background-color: #ffffff;
    max-width: 229px;
    margin: 0 auto;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 16px;
    line-height: 100%;
    margin-bottom: 16px;
}

.banner-heading, .color-green{
    /* max-width: 415px; */
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
}
.color-green{
    color:#30B868;
}
.banner-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.banner-bottom{
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
}
#banner .button-two a{
    background:none;
    border: 1px solid #ffffff;
}
#banner .banner-bottom{
    padding-bottom:13px
}
/* Note section */
#note{}

#notes{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.note-heading{
    text-align: center;
    margin-bottom: 44px;
}

.note-heading p{
    
    margin-top: 16px;

}
.typs-of-note{
    display: flex;
    gap: 16px;
}
.note-card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000020;
    padding: 24px;
    text-align: center;

}
.note-card img{
    background-color:#F95555;
    margin-bottom: 16px;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 16px; 
}
.note-card p{
    margin-bottom: 22px;
}
/* Solution section */
#solution{
    padding: 120px;
}
.solution-body{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.solution-img{
    border-radius: 12px;
}
.solution-content{
    padding: 120px 0 120px 60px;
}
.solution-heading .the-solution{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;

}

.solution-heading p{
    margin-bottom: 40px;
}

.checklist-body{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

/* join Section */


.join-body{
    background-color: #F7F6F2;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}


.join-heading h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    padding-top:80px;
    margin-bottom: 16px;
    color: #001931;
    
}
.join-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
}

#join .Section-Para{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    padding-bottom: 80px;
    margin-top: 16px;
    
}

footer{
    background-color: #001931;
}

.footer-logo{
    padding: 120px 0 80px 0;
    /* background-color: yellowgreen; */
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.socials, a{
    color: #E5E7EB;
    margin-bottom: 16px;
}

.copyright{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.copyright hr{
    border: 1px solid #e5e7eb14;
    margin-bottom: 30px;
}
.copyright p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
   color: #FAFAFA;
   text-align: center;
   padding-bottom: 30px;
}